# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
staticfiles/
media/
*.log
*.pot
*.pyc

# SQLite (local dev)
db.sqlite3

# Environment files
.env
.env.*
config.env

# VS Code settings (uncomment to ignore if you don't want to track them)
#.vscode/

# Node/Frontend leftovers (if any)
node_modules/

# System files
.DS_Store
Thumbs.db
